<div class="col-xs-10 col-xs-offset-1">
  <h1>About Splurty</h1>


<!--Here is the main bit of copy -->
<p> 
	Here is some copy about me. It will talk about me and what I'm doing.

</p>

<br />

<p>
	Here is some more copy. Not sure what I'm going to write here but I'll figure out something.
	</p>

</div>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'sidechristine.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Christine Ellis</h2>
    <br />
    <p>
      Some text about me.
    </p>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />